<div class="container">
    <h2>Crear Factura</h2>
    <label for="txtNumero">Número de Factura:</label>
    <input id="txtNumero"/>
    <br />
  
    <label for="txtFecha">Fecha:</label>
    <input type="date" id="txtFecha"/>
    <br />
  
    <label for="txtCliente">Cliente:</label>
    <input id="txtCliente"/>
    <br />
  
    <label for="txtDescripcion">Descripción:</label>
    <textarea id="txtDescripcion" rows="4"></textarea>
    <br />
  
    <label for="txtTotal">Total:</label>
    <input type="number" id="txtTotal" step="1.00" />
    <br />
  
    <button >Guardar Factura</button>
  </div>